/* Variables */
/* Mixins Flasheros */
/*Estilos*/
body {
  background-color: #f7f7f7; }

#carouselExampleControls {
  margin-top: 0px;
  margin-bottom: 15px; }

footer div {
  background-color: #ba2d2d !important; }

.navbar {
  background-color: #e8c70e !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif; }

.display-4 {
  font-weight: 200;
  margin-top: 52px;
  margin-bottom: 0px; }

.jumbotron-image {
  background-repeat: repeat; }

/* Layout usando Flex en lugar de la primer version con grillas */
.main-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.main-content > div {
  width: 330px;
  margin: 1rem auto; }
