/* Variables */

$yellow: #e8c70e;
$red:#ba2d2d;
$green:#38e61e;
$white:#f7f7f7;

/* Mixins Flasheros */

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding:$top, $right, $bottom, $left;
}

@mixin coloresYpaddings($fondo, $fuente,$padding-top,$padding-derecho,$padding-bottom,$padding-izquierdo) {
    background-color: $fondo;
    color: $fuente;
    padding: $padding-top,$padding-derecho,$padding-bottom,$padding-izquierdo;
}

@mixin layout($display) {
    display: $display;
}

/*Estilos*/

body {
    background-color: $white;
}

#carouselExampleControls {
    @include margenes(0px,15px)
}

footer div{
    background-color: $red!important;
}

.navbar {
    background-color: $yellow!important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-weight: 200;
    @include margenes(52px, 0px)
}

.jumbotron-image {
    background-repeat: repeat;
  }
  
/* Layout usando Flex en lugar de la primer version con grillas */

.main-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-content > div {
    width: 330px;
    margin: 1rem auto;
}
