/* Variables */

@yellow: #e8c70e;

/*Estilos*/

body {
    background-color: @yellow;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.jumbotron-image {
    background-repeat: repeat;
  }
  
/* Layout usando Flex en lugar de la primer version con grillas */

.main-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-content > div {
    width: 330px;
    margin: 1rem auto;
}
